<template>
    <app-layout>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                    <div class="flex mb-4">
                        <button @click="openModal()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3 mr-2">Create Category</button>
                        <export-excel
                            class = "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded my-3"
                            :data = "json_data"
                            :fields = "json_fields"
                            :worksheet = "worksheet"
                            :name = "filename"
                            style="cursor: pointer;">
                            Export Excel
                        </export-excel>
                    </div>
                    <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md mb-2" role="alert" v-if="$page.flash.message">
                    <div class="flex">
                        <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                        <div>
                            <p class="font-bold">Successfully!</p>
                            <p class="text-sm">{{ $page.flash.message }}</p>
                        </div>
                    </div>
                    </div>
                    <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                        <table class="table-fixed w-full">
                            <thead>
                                <tr class="bg-gray-100">
                                    <th class="px-4 py-2 w-20">No.</th>
                                    <th class="px-4 py-2">Category Name</th>
                                    <th class="px-4 py-2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(row, index) in data" :key="index">
                                    <td class="border px-4 py-2">{{ index + 1 }}</td>
                                    <td class="border px-4 py-2">{{ row.category_name }}</td>
                                    <td class="border px-4 py-2">
                                        <button @click="editRow(row)" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">Update</button>
                                        <button @click="deleteRow(row)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="fixed z-10 inset-0 overflow-y-auto ease-out duration-400" v-if="isOpen">
                            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                                <div class="fixed inset-0 transition-opacity">
                                    <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                                </div>
                                <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>​
                                <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                                    <form>
                                        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                                            <div class="">
                                                <div class="mb-4">
                                                    <label for="inputCategoryName" class="block text-gray-700 text-sm font-bold mb-2">Category Name:</label>
                                                    <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="inputCategoryName" placeholder="Enter Category Name" v-model="form.category_name">
                                                    <div v-if="$page.errors.category_name" class="text-red-500">{{ $page.errors.category_name[0] }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                                            <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                                                <button wire:click.prevent="store()" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5" v-show="!editMode" @click="save(form)">
                                                Save
                                                </button>
                                            </span>
                                            <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                                                <button wire:click.prevent="update()" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5" v-show="editMode" @click="update(form)">
                                                Update
                                                </button>
                                            </span>
                                            <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                                                <button @click="closeModal()" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                                                    Cancel
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from './../Layouts/AppLayout'
    import Welcome from './../Jetstream/Welcome'
    export default {
        components: {
            AppLayout,
            Welcome,
        },
        props: ['data', 'errors'],
        data() {
            return {
                editMode: false,
                isOpen: false,
                form: {
                    category_name: null,
                },
                json_fields: {
                    'No': 'no',
                    'Category name': 'category_name',
                    'Create At': 'created_at',
                    'Updated At': 'updated_at'
                },
                json_data: [],
                json_meta: [
                    [
                        {
                            'key': 'charset',
                            'value': 'utf-8'
                        }
                    ]
                ],
                filename: null,
                worksheet: 'My Worksheet'
            }
        },
        created() {
            let date = new Date().toString()
            this.filename = `${date.substr(0, 24)}.xls`
        },
        mounted() {
            this.data.forEach((category, index) => {
                let json = {
                    no: index + 1,
                    category_name: category.category_name,
                    created_at: category.created_at,
                    updated_at: category.updated_at
                }

                this.json_data.push(json)
            })
        },
        methods: {
            // menampilkan modal
            openModal: function () {
                this.isOpen = true;
            },
            // menutup modal
            closeModal: function () {
                this.isOpen   = false;
                this.reset();
                this.editMode = false;
            },
            // reset form
            reset: function () {
                this.form = {
                    category_name: null,
                }
            },
            // simpan data
            save: function (data) {
                this.$inertia.post('/categories', data)
                this.reset();
                this.closeModal();
                this.editMode = false;
            },
            // delete data
            deleteRow: function (data) {
                if (!confirm('Are you sure want to remove?')) return;
                data._method = 'DELETE';
                this.$inertia.post('/categories/' + data.id, data)
                this.reset();
                this.closeModal();
            },
            // set data to modal
            editRow: function (data) {
                this.form = Object.assign({}, data)
                this.editMode = true
                this.openModal()
            },
            update: function (data) {
                data._method = 'PUT'
                this.$inertia.post(`/categories/${data.id}`, data)
                this.reset()
                this.closeModal()
            }
        }
    }
</script>
