<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Send Message Via Email
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md mb-2" role="alert" v-if="$page.flash.message">
                    <div class="flex">
                        <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                            <div>
                                <p class="font-bold">Successfully!</p>
                                <p class="text-sm">{{ $page.flash.message }}</p>
                            </div>
                    </div>
                </div>
                <div class="w-full">
                    <p class="text-sm mb-2" v-if="error != null">{{ error }}</p>
                    <form class="bg-white shadow-md rounded px-12 pt-12 pb-12 mb-4" enctype="multipart/form-data">
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                                E-Mail Receiver
                            </label>
                            <input type="email" id="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" v-model="form.email_receiver" placeholder="Email">
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="message">
                                Message
                            </label>
                            <textarea id="message" v-model="form.message"></textarea>
                        </div>
                        <div class="flex items-center justify-between">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" @click="save()">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from './../Layouts/AppLayout'
    export default {
        components: {
            AppLayout
        },
        data() {
            return {
                form: {
                    email_receiver: null,
                    message: null
                },
                error: null
            }
        },
        props: ['errors'],
        mounted() {
            $('#message').summernote({
                height: 300,
                placeholder: 'Message'
            });
        },
        methods: {
            // reset form
            reset: function () {
                this.form.email_receiver = null
                this.form.message = null
                $('#message').summernote('code', '')
            },
            // simpan data
            save: async function () {
                this.error = null

                this.form.message = $('#message').summernote('code')

                await this.$inertia.post('/send-email', this.form)

                this.reset()
            }
        }
    }
</script>