<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Upload
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md mb-2" role="alert" v-if="$page.flash.message">
                    <div class="flex">
                        <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                            <div>
                                <p class="font-bold">Successfully!</p>
                                <p class="text-sm">{{ $page.flash.message }}</p>
                            </div>
                    </div>
                </div>
                <div class="w-full">
                    <form class="bg-white shadow-md rounded px-12 pt-12 pb-12 mb-4" enctype="multipart/form-data">
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                                Images
                            </label>
                            <p class="text-sm mb-2" v-if="error != null">{{ error }}</p>
                            <img :src="form.images" width="100" height="100" v-if="form.images != null" class="mb-2 mt-2">
                            <input type="file" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" @change="changeImages">
                        </div>
                        <div class="flex items-center justify-between">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" @click="save(form)">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="w-full">
                    <table class="table-fixed w-full bg-white shadow-md rounded px-12 pt-12 pb-12 mb-4">
                        <thead>
                            <tr class="bg-gray-100">
                                <th class="px-4 py-2 w-20">No.</th>
                                <th class="px-4 py-2">File Name</th>
                                <th class="px-4 py-2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(row, index) in data" :key="index">
                                <td class="border px-4 py-2">{{ index + 1 }}</td>
                                <td class="border px-4 py-2">{{ row.name }}</td>
                                <td class="border px-4 py-2">
                                    <button @click="editRow(row)" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">Update</button>
                                    <button @click="deleteRow(row)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from './../Layouts/AppLayout'
    export default {
        components: {
            AppLayout
        },
        data() {
            return {
                form: {
                    images: null,
                },
                error: null
            }
        },
        props: ['data', 'errors'],
        methods: {
            // reset form
            reset: function () {
                this.form = {
                    file: null,
                }
            },
            // simpan data
            save: function (data) {
                this.error = null

                if (data.images != null) {
                    this.$inertia.post('/upload', data)
                    this.reset()
                } else {
                    this.error = `Images can't be null!`
                }
            },
            changeImages(e) {
                let images = e.target.files[0]

                if (images.size > 2000000) {
                    this.error = `Max file size 2MB`
                } else {
                    let readerPhoto = new FileReader()
                    readerPhoto.readAsDataURL(images)
                    readerPhoto.onload = e => {
                        this.form.images = e.target.result
                    }
                }
            },
            deleteRow: function (data) {
                if (!confirm('Are you sure want to remove?')) return;
                console.log(data)
            },
            editRow: function (data) {
                console.log(data)
            }
        }
    }
</script>
